@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, html {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: #333;
    }
    .buttonStart {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        background: linear-gradient(#555353, #363535, #303030);
        border: 2px solid black;
        border-radius: 32px;
        box-shadow: inset 0 5px 1px rgba(0,0,0,0.35),
        0 5px 5px rgba(0,0,0,0.5),
        0 15px 25px rgba(0,0,0,0.35);
        color: white;
        text-shadow: 1px 1px 2px lawngreen, 0 0 1em lawngreen, 0 0 0.2em yellow;
    }
    .buttonLetter {
        padding: 15px 20px;
        background: linear-gradient(#555353, #363535, #303030);
        border: 2px solid black;
        border-radius: 10px;
        box-shadow: inset 0 5px 1px rgba(0,0,0,0.35),
        0 5px 5px rgba(0,0,0,0.5),
        0 15px 25px rgba(0,0,0,0.35);
        color: white;
        font-size: 1.2em;
        text-shadow: 1px 1px 2px lawngreen, 0 0 1em lawngreen, 0 0 0.2em yellow;
    }
    .numberBox {
        position: relative;
        width: 150px;
        height: 150px;
        background: #1C1C1C;
        border-radius: 12px;
        overflow: hidden;
    }
    .numberBox::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 150px;
        height: 150px;
        background: linear-gradient(0deg, transparent, transparent, lawngreen, lawngreen, lawngreen);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    .numberBox::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 150px;
        height: 150px;
        background: linear-gradient(0deg, transparent, transparent, red, red, red);
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
        z-index: 1;
    }
    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .numberBox span {
        position: absolute;
        inset: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 5em;
        font-weight: bold;
        background: #222;
        border-radius: 12px;
        text-shadow: 0 0 10px lawngreen;
        z-index: 2;
    }
    .buttonLetterSelected {
        opacity: 0;
    }
}